.pokemon-card {
    outline: black 1px dotted;
    padding: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    margin-bottom: 25px;
}

.pokemon-card:hover {
    background-color: antiquewhite;
}